p {
    background-color: darkblue;
    color: white
}

li {
    color:darkgrey;
}

.branches{
    font-size: 25px;
    margin: 2px solid;
    color: black
}

.branches li{
    color: black;
}
.branches p {
    background-color: darkred;
}

body {
    background-color: darkslategrey; 
}